/************Section:About Me************/
#about-me{
    text-align: center;
}
/************Section:Personal info************/
#personal-info{
    text-align: center;
}
#personal-info dl{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2%;
}
#personal-info dt{
    text-align: right;
}
#personal-info dd{
    text-align: left;
    color: #9c9c9c;
}
/************Section:my work************/
#my-works a{
    display: inline-block;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    background-color: #2c2c2c;
    color: #fff;
    text-decoration: none;
}
#my-works a:hover{
    background-color: #ffd42d;
    color: #000;
}