*{
    box-sizing: border-box;
}
.project-container{    
    text-align: center;
}
.visual-container{
    border-radius: 15px 15px 0 0;
    height: 30vh;
}
.description{
    background-color: #999;
    padding: 5%;
    border-radius: 0 0 15px 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.description:hover{
    transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.description a{
    display: block;
}
/*************IT2406************/
.masking-container{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 0;
    background-color: #222;
    font-family: 'Arial', sans-serif;
    overflow: hidden;   
}
.mask-text{
    font-size: clamp(2rem, 6vw, 4rem);
    font-weight: bold;
    color: transparent;
    background-image: url('https://images.unsplash.com/photo-1732535725600-f805d8b33c9c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated-background 5s infinite alternate linear;
}
@keyframes animated-background {
    0%{
        background-position: 0 50%;
    }    
    100%{
        background-position: 100% 50%;
    }
}

/*************IT2406************/